title [A]
script(src='/bower_components/jquery/dist/jquery.min.js')
// script(src='/javascripts/app.js')
link(rel='stylesheet', href='/stylesheets/base.css')
link(rel='stylesheet', href='/stylesheets/pweb.css')