title [A]

meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property='og:url', content='https://andytlim.com')
meta(property='og:type', content='website')
meta(property='og:title', content='[A]')
meta(property='og:description', content='Full Stack Developer and Entrepreneur')
meta(property='og:image', content='https://andytlim.com/images/1337.gif')

script(src='/bower_components/react/react.js')
script(src='/bower_components/react/react-dom.js')

script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/typeit/dist/typeit.min.js')

link(rel='stylesheet', href='/components/Home/base.min.css')