extends ./global/layout

block assets
  meta(name='description', content='')
    
  link(rel='stylesheet', href='/css/index.css')
  script(src='/react/build/index.js')

block content
  script.
    console.log(pweb);
    ReactDOM.render(pweb, document.body);
  